<% provide :title, t("header.home") %>
<div class="row">
  <div class="col-md-3">
    <div>
      <a href="#" class="list-group-item active">
        <%= t "home.category" %>
      </a>
      <ul class="list-group">
        <%= render partial: "category", collection: @categories %>
      </ul>
    </div>
    <div>
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">
          <%= link_to t("product.new"), filter_by_status_static_page_path(1), method: :get %>
        </li>
        <li class="list-group-item list-group-item-info">
          <%= link_to t("product.hot"), filter_by_status_static_page_path(0), method: :get %>
        </li>
        <li class="list-group-item list-group-item-warning">
          <%= link_to t("product.trend"), filter_by_status_static_page_path(2), method: :get %>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    <div>
      <ol class="breadcrumb">
        <li><%= t "header.home" %></li>
      </ol>
    </div>
    <div class="row">
      <div class="btn-group alg-right-pad">
        <button type="button" class="btn btn-default">
          <strong><%= @products.count %></strong>
          <%= t "product.item" %>
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
            <%= t "product.sort_product" %> &nbsp;
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= sort_link(@q, :price, t("product.sort_price"), default_order: :asc) %></li>
            <li class="divider"></li>
            <li><%= sort_link(@q, :created_at, t("product.sort_date_create"), default_order: :asc) %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <%= render "static_pages/product" %>
    </div>
  </div>
</div>
