<% provide :title, @products.name %>
<%= render "shared/comments_plugin" %>
<div>
  <ol class="breadcrumb">
    <li><%= link_to t("header.home"), home_client_path %></li>
    <li class="active"><%= @products.name %></li>
  </ol>
</div>
<div class="thumbnail product-box col-md-4">
  <%= image_tag @products.image if @products.image.attached? %>
</div>
<div class="caption col-md-8">
  <h1 class="detail-tt"><%= @products.name %></h1>
  <p>
    <%= t "home.price" %>
    <strong class="detail-price"><%= t(number_to_currency(@products.price)) %></strong>
  </p>
  <h1 class="detail-desciptipon"><%= t "home.short_description" %></h1>
  <%= @products.description %>
  <p>
    <%= "#{t("home.author")}:  #{@products.author}" %>
    <br>
    <%= "#{t("home.publisher")}:  #{@products.publisher}" %>
    <br>
    <p class="detail-slg">
      <%= "#{t("home.stocking")}:  #{t("home.sl_sp", slg: @products.quantity)}" %>
    </p>
  </p>
  <p>
    <%= link_to t("home.add_to_cart"), add_to_carts_path(@products, quantity: 1), method: :post,
    class: "btn-product btn-success" %>
  </p>
   <div class="col-sm-6 aside">
      <div class="widget">
        <div class="widget-body">
          <div class="beta-sales beta-lists">
           <%= social_share_button_tag(@products.name) %>
          </div>
        </div>
      </div>
    </div>
  <% if logged_in? %>
  <div class="fb-comments" data-href="http://localhost:3000/" data-width="500" data-numposts="2">
  </div>
  <% end %>
</div>
