<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <ul>
        <li><%= "#{t("user.new.email")}:  #{@user.email}" %></li>
        <li><%= "#{t("user.new.id_card")}:  #{@user.id_card}" %></li>
        <li><%= "#{t("user.new.phone_number")}:  #{@user.phone_number}" %></li>
        <li><%= "#{t("user.new.address")}:  #{@user.address}" %></li>
      </ul>
    </section>
  </aside>
</div>
