<div class="content">
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
        </a>
      </li>
      <li><%= link_to_unless_current "English", locale:"en" %></li>
      <li><%= link_to_unless_current "Vietnamese", locale:"vi" %></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="detailForm">
        <h1><%= t"product.detail"%></h1>
       <div>
        <label><%= t"product.name"%></label><br>
        <input type="" disabled="disabled" name="" value="<%= @product.name %>" class="form-control"/>
      </div>
      <div>
        <label><%= t"product.category"%></label><br>
        <input type="" disabled="disabled" name="" value="<%= @product.category.title %>" class="form-control"/>
      </div>

      <div>
        <label><%= t"product.status"%></label><br>
        <input type="" disabled="disabled" name="" value="<%= @product.status %>" class="form-control"/>
      </div>

      <div>
        <label><%= t"product.price"%></label><br>
        <input type="" disabled="disabled" name="" value="<%= @product.price %>" class="form-control"/>
      </div>

      <div>
        <label><%= t"product.quantity"%></label><br>
        <input type="" disabled="disabled" name="" value="<%= @product.quantity %>" class="form-control"/>
      </div>

      <div>
        <label><%= t"product.author"%></label><br>
        <input type="" disabled="disabled" name="" value="<%= @product.author %>" class="form-control"/>
      </div>

      <div>
        <label><%= t"product.publisher"%></label><br>
        <input type="" disabled="disabled" name="" value="<%= @product.publisher %>" class="form-control"/>
      </div>
      <div>
        <label><%= t"product.description"%></label><br>
        <input type="" disabled="disabled" name="" value="<%= @product.description %>" class="form-control"/>
      </div>
      <div class="mb-3">
        <%= link_to t("crud.back"), list_product_path, class: "btn btn-success backBtn" %>
      </div>
    </div>
  </div>

</div>
</div>
